__pycache__/
*.pyc

# ignore documentation built because copied in docs/ root already
docs/_doc_build

# =========================
# Operating System Files
# =========================

# macOS/OSX
# =========================
.DS_Store
