@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@1,400;1,600&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/* cm4twc blue:  #00b0f0 (0, 176, 240) */
/* cm4twc green: #92d050 (146, 208, 80) */
/* cm4twc brown: #ab7942 (171, 121, 66) */
:root {
    --pst-font-size-h1: 34px;
    --pst-font-size-h2: 30px;
    --pst-font-size-h3: 25px;
    --pst-font-size-h4: 21px;
    --pst-font-size-h5: 18px;
    --pst-font-size-h6: 16px;

    --pst-color-primary: 77, 77, 77;
    --pst-color-text-base: 77, 77, 77;

    --pst-color-active-navigation: 0, 176, 240;

    --pst-color-link: 0, 176, 240;
    --pst-color-link-hover: 146, 208, 80;

    --pst-color-preformatted-background: 250, 250, 250;
    --pst-color-block-code: 51, 51, 51;
    --pst-color-inline-code: 0, 0, 0;

    --pst-color-headerlink: var(--pst-color-link);
    --pst-color-headerlink-hover: var(--pst-color-link-hover);

    --pst-font-family-base-system: 'Open Sans', sans-serif;
    --pst-font-family-monospace-system: 'JetBrains Mono', monospace;
}

/* override style for code blocks */
pre {
    border: 1px solid rgba(var(--pst-color-preformatted-background),1); /* e1e4e5 */
    box-shadow: none;
}

/* override style for class and attributes */
.sig {
    font-weight: lighter;
}

.sig-paren {
    font-size: 100%;
}

.sig-param {
    font-weight: lighter;
    font-size: 100%;
}

em.property{
    font-size: 100%;
    padding-right: 6px;
}

code.descclassname {
	font-weight: lighter;
    font-size: 100%;
}

code.descname {
    font-weight: bold;
	font-size: 100%;
}

/* override style for images */
img {
    margin-bottom: 10px;
}

/* override style for RST directive "contents" */
div.topic {
    background-color: transparent;
    border: hidden;
}

/* override style for permalink */
a.headerlink{
    color:rgba(var(--pst-color-headerlink),1);
    text-align: center;
    padding-left: 10px;
    font-size: 14px;
    border-bottom: hidden;
}
a.headerlink:hover{
    background-color: transparent;
    color:rgba(var(--pst-color-headerlink-hover),1);
    border-bottom: hidden;
}

/* override style for inline code */
code.literal{
    font-size: 100%;
    font-weight: normal;
    color: rgba(var(--pst-color-inline-code),1);
}
a code.literal{
    font-size: 100%;
    font-weight: normal;
    color: rgba(var(--pst-color-link),1);
}
a:hover code.literal{
    font-size: 100%;
    font-weight: normal;
    color: rgba(var(--pst-color-link-hover),1);
}

/* override style for tables */
table {
    margin-top: 10px;
}
